.grid{
    display: grid;
    height: 50vh;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* justify-items: stretch; 기본값 (수평) */
    /* align-items: ; (수직) */
    /*place -items: 수직 / 수평 */
    place-items: stretch center;
}
.header {
    background: #2ecc71;
}
.content {
    background: #3496db;
}
.nav {
    background: #8e44ad;
}
.footer {
    background: #f39c12;
}